/chapter2/cmake-build-debug
/chapter2/.idea
/chapter3/cmake-build-debug
/chapter3/.idea
/chapter4/cmake-build-debug
/chapter4/.idea
/chapter5/cmake-build-debug
/chapter5/.idea
/chapter6/cmake-build-debug
/chapter6/.idea
/chapter7/cmake-build-debug
/chapter7/.idea
